.navbar-restaurante {
    background-color: #3e3e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-restaurante *{
    color: #fff;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    display: inline-block;
    margin: 0 20px;
}

.size-img-logo{
    width: 70px;
}

.banner{
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 85px;
    margin-top: 50px;
}

.container1 div p{
    padding-right: 25px;
    text-align: justify;
}