<section class="container">
    <h1 class="text-center fw-bold">Busca tu pelicula preferida</h1>
    <div class="d-flex">
        <input type="text" class="form-control buscador mt-5 text-center fw-bold" placeholder="Iron man 3">
        <button class="btn d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-magnifying-glass text-dark pt-5 fa-2xl"></i>
        </button>
    </div>
</section>

<section class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/13801DFFD4E0E54C13CD87EA6385AEC13E8B92C7BA593B6C4B6852DFC1BB909F/badging?width=400&aspectRatio=1.78&format=jpeg&label=disneyplusoriginal" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Moon night</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/257EF5C085055BC2C3E982039C524F5158A578E9B9C25D6770FD2B034199C63C/scale?width=400&aspectRatio=1.78&format=jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">iron man 2</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/C6EAD81E6BDB0A42BDE8B0BDDF9A2FAEDEDF7B55ABD58FD3119EA41BFEB197DB/scale?width=400&aspectRatio=1.78&format=jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Thor amor y trueno</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/56F8AEFC6D80726A5E3188716F6A491A9C530396B02C5235F85E4D7ED5FE67BF/scale?width=400&aspectRatio=1.78&format=jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Manos de tijeras</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">Disney anuncio intensamente 2... que esperamos de este filme</p>
                        <img src="https://www.cinepremiere.com.mx/wp-content/uploads/2022/09/intensamente-2.jpg" class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">Disney anuncio intensamente 2... que esperamos de este filme</p>
                        <img src="https://www.cinepremiere.com.mx/wp-content/uploads/2022/09/intensamente-2.jpg" class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">Disney anuncio intensamente 2... que esperamos de este filme</p>
                        <img src="https://www.cinepremiere.com.mx/wp-content/uploads/2022/09/intensamente-2.jpg" class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">Disney anuncio intensamente 2... que esperamos de este filme</p>
                        <img src="https://www.cinepremiere.com.mx/wp-content/uploads/2022/09/intensamente-2.jpg" class="w-25" alt="">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold pe-4">Disney anuncio intensamente 2... que esperamos de este filme</p>
                        <img src="https://www.cinepremiere.com.mx/wp-content/uploads/2022/09/intensamente-2.jpg" class="w-25" alt="">
                    </div>
                </li>
            </ul>
            <section class="d-flex justify-content-around mt-5">
                <div class="circulo-red">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="circulo-red">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
                <div class="circulo-red">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </section>
        </div>
    </div>
</section>