<section class="container">

    <h4 class="py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eveniet placeat aperiam. Possimus, vero aliquam similique praesentium modi cum nisi reiciendis soluta. Facilis velit expedita ullam quas, quasi voluptatibus sapiente neque eaque nobis
        corporis incidunt fuga, temporibus corrupti architecto vero obcaecati esse recusandae? Perspiciatis minus dolores voluptas corporis quia quos?</h4>
    <h1 class="text-center fw-bold my-5">Create tu cuenta!</h1>
    <form class="row g-3">
        <div class="col-12">
            <label for="inputEmail4" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Verifique su contraseña</label>
            <input type="password" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-dark">Sign in</button>
        </div>
    </form>
</section>