@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.logo-navbar {
    width: 10%;
}

.letra-logo {
    font-family: 'Shadows Into Light', cursive;
}

.buscador {
    border: 3px solid #464646;
    border-radius: 20px;
}

.circulo-red {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo-red i {
    font-size: 2rem;
}