<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-5">
    <div class="container">
        <a class="letra-logo navbar-brand d-flex justify-content-start align-items-center fw-bold" href="#">
            <img class="logo-navbar me-3" src="assets/img/logo.png" alt=""> DePelicula
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="text-white fw-bold nav-link" routerLink="">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="text-white fw-bold nav-link" routerLink="/contactenos">Contactenos</a>
                </li>
                <li class="nav-item">
                    <a class="text-white fw-bold nav-link" routerLink="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="text-white fw-bold nav-link" routerLink="/ingreso">Ingreso</a>
                </li>
            </ul>
        </div>
    </div>
</nav>