/*
    Establece la propiedad de display a grid para poder usar sus propiedades asociadas

    Agrega columnas con grid-template-columns por ejemplo grid-template-columns: 50px 50px;
    el número de parámetros, define el número de columnas

    Para agregar filas manualmente utilizamos grid-template-rows

*/

.container {
    font-size: 40px;
    width: 100%;
    background: lightgray;
    /* agrega la propiedad display */
    display: grid;
    /* agrega la propiedad grid-template-columns */
    grid-template-columns: 50px 200px 20%;
    
    /* agrega la propiedad grid-template-rows */
    grid-template-rows: 100px 100px;
    
}
.d1 {
    background: aqua;
}
.d2 {
    background: blue;
}
.d3 {
    background: coral;
}
.d4 {
    background: cornflowerblue;
}
.d5 {
    background: brown;
}
.d6 {
    background: orange;
}