:root{
    --tipografia-facebook: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    --color-azul-facebook:#1877f2;
    --color-verde-facebook: #42b72a;
    --color-gris-facebook: #f0f2f5;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-azul-facebook-hover: #e5c216;
    --color-verde-facebook-hover: #36a420;
}

body{
    background: var(--color-gris-facebook);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-inicio-sesion,
.btn-crear-cuenta{
    color: var(--color-blanco);
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    transition: all 200ms;
}

.btn-inicio-sesion{
    width: 330px;
    height: 52px;
    background-color: var(--color-azul-facebook);
}

.btn-inicio-sesion:hover{
    background-color: var(--color-azul-facebook-hover);
}

.seccion-1, 
.seccion-2,
.fondo-blanco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-2,
.fondo-blanco{
    flex-direction: column;
}

.fondo-blanco{
    background: var(--color-blanco);
}

.separador{
    border-top: 1px solid #808080;
    margin: 30px 0;
    width: 80%;
}

.enlace-olvide{
    padding: 20px 0 0;
}
.formulario input[type="email"],
.formulario input[type="password"]{
    padding: 14px 16px;
    width: 330px;
    outline: 1px solid var(--color-gris-facebook);
    margin: 5px 0;
}

.formulario input:focus-visible{
    border: 1px solid var(--color-azul-facebook);
}

.btn-crear-cuenta{
    background-color: var(--color-verde-facebook);
    width: 190px;
    height: 50px;
}

.btn-crear-cuenta:hover{
    background-color: var(--color-verde-facebook-hover);
}