<section class="container">
    <div class="d-flex justify-content-between align-items-center my-5">
        <h1 class="fw-bold">Lista de productos</h1>
        <button class="btn btn-dark fw-bold" routerLink="/registrar-producto">Registrar producto</button>
    </div>
    <h3>Total productos: {{ listaProductos.length }}</h3>

    <img #imagen class="w-50" src="https://image.jimcdn.com/app/cms/image/transf/dimension=389x1024:format=jpg/path/s63325aede1793f7e/image/i5aa18507d7fef049/version/1479063540/image.jpg" alt="">
    <button #regulese (click)="calmasion()" class="btn btn-dark fw-bold" type="button">Regulese</button>



    <table *ngIf="listaProductos.length > 0" class="mt-4 table table-responsive table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Proveedor</th>
                <th colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let miproducto of listaProductos">
                <th>{{ miproducto.nombre }}</th>
                <td>{{ miproducto.precio }}</td>
                <td>{{ miproducto.categoria }}</td>
                <td>{{ miproducto.proveedor }}</td>
                <td>
                    <button class="btn btn-warning mx-2 btn-sm" [routerLink]="['/editar-producto', miproducto._id]">
                        <i class="fa-solid fa-pencil mx-2"></i>Editar
                    </button>
                    <button class="btn btn-danger mx-2 btn-sm fw-bold" (click)="eliminarProducto(miproducto._id)">
                        <i class="fa-solid fa-recycle mx-2"></i>Eliminar
                    </button>
                    <!-- <p #textoInventario (click)="agotar_existencias()">EN EXISTENCIA</p> -->
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-danger text-center fw-bold" *ngIf="listaProductos.length == 0">No hay productos registrados</h2>
</section>